.headerdiv{
    display:flex;
    color:purple;
    align-items: center;
  
}
.title{
    border:2px solid purple;
     color:purple;
     text-align: center;
       background-color:silver;
}
.contact  {
margin-left: 100px;
}
.contact p{
    padding:0px 10px;
}
table,th,td{
    border:2px double purple;
    padding:5px;
}

    